<div class="login-div">
  <form class="login-form">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>
          Gestão do Sistema
        </h1>
      </div>
      <div class="ui-g-12">
        <div class="input-box">
          <span class="fa fa-user"></span>
          <input type="text" placeholder="Digite um nome de usuário" [(ngModel)]="nameModel" name="nameModel" (focus)="inputFocus()">
        </div>
      </div>
      <div class="ui-g-12">
        <div class="input-box">
          <span class="fa fa-unlock-alt "></span>
          <input type="password" placeholder="Digite sua senha" [(ngModel)]="psModel" name="psModel" (focus)="inputFocus()">
        </div>
      </div>
      <div class="ui-g-12" style="color: #FF4949;height: 33px">
      {{loginerrortext}}
      </div>
      <div class="ui-g-12">
        <button  type="button" (click)="login()">{{btnLogin}}</button>
      </div>
      <div class="ui-g-10">
        Usuário padrão:binbinadmin
      </div>
      <div class="ui-g-10">
        Senha padrão:123456
      </div>
      <div class="ui-g-10">
        Os dados estão em formato JSON.
      </div>
    </div>
  </form>
</div>
